@import "tailwindcss";

@theme {
   --color-primaryBlue: oklch(0.59 0.2209 263.53);
   --color-primaryRed: oklch(0.59 0.2174 30.75);
   --color-primaryOrange: oklch(0.86 0.174878 88.0084);
   --color-primaryYellow: oklch(0.86 0.1795 105.4);
   --color-primaryGreen: oklch(0.82 0.2282 148.4);
   --color-light-900: oklch(1 0 0);
   --color-light-800: oklch(0.75 0 0);
   --color-dark-900: oklch(0.22 0 0);
   --color-dark-800: oklch(0.27 0 0);
   --color-dark-700: oklch(0.33 0 0);
   --color-dark-600: oklch(0.4 0 0);
}

html,
body {
   max-width: 100vw;
   overflow-x: hidden;
}